:root {
  --bgbase: #fffbf8;
  
  /** コードブロック */
  --pre-light-bg: #f6f8fa;
  --pre-dark-bg: #121212;

  --shiki-theme: var(--shiki--light);

  --shiki--light: var(--shiki-theme,);
  --shiki--dark: var(--shiki-theme,);
  --shiki--nord: var(--shiki-theme,);
  --shiki--min-light: var(--shiki-theme,);
  --shiki--min-dark: var(--shiki-theme,);
}

html body {
  background-color: --bgbase;
}

html.dark,
html.dark body {
  background-color: #121212 !important;
  color: #c8d1d9 !important;
}


pre {
  background-color: var(--pre-light-bg) !important;
}

/* pre {
  background-color: var(--pre-dark-bg) !important;
} */

.line.diff.remove {
  opacity: 0.8;
  background-color: #fef2f2;
  padding: 4px;
}

.line.diff.remove::before {
  margin-right: 4px;
  content: '−';
  color: #dc2626;
}

.line.diff.add {
  background-color: #f0fdf4;
  padding: 4px;
}

.line.diff.add::before {
  margin-right: 4px;
  content: '+';
  color: #16a34a;
}

.dark .line.diff.remove {
  background-color: #322d2d;
  padding: 2px;
}

.dark .line.diff.remove::before {
  margin-right: 4px;
  content: '−';
  color: #dc2626;
}

.dark .line.diff.add {
  background-color: #343c38;
  padding: 2px;
}

.dark .line.diff.add::before {
  margin-right: 4px;
  content: '+';
  color: #83998b;
}

[data-theme='light'] {
  --shiki-theme: var(--shiki--light);
}

[data-theme='dark'] {
  --shiki-theme: var(--shiki--dark);
}

pre {
  background-color: var(--shiki--light, var(--_s-light-bg))
    var(--shiki--dark, var(--_s-dark-bg)) var(--shiki--nord, var(--_s-nord-bg))
    var(--shiki--min-light, var(--_s-min-light-bg))
    var(--shiki--min-dark, var(--_s-min-dark-bg));
}

.shiki,
.shiki span {
  color: var(--shiki--light, var(--_s-light)) var(--shiki--dark, var(--_s-dark))
    var(--shiki--nord, var(--_s-nord))
    var(--shiki--min-light, var(--_s-min-light))
    var(--shiki--min-dark, var(--_s-min-dark));
}

.shiki {
  padding: 0.5em;
  border-radius: 0.25em;
}
