.Option {
  content: '';

  padding: 4px 8px;
  background-color: white;

  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-dark);

  &.Selected {
    background-color: color-mix(in srgb, var(--color-em), white 40%);

    color: var(--color-em-main);

    &.Focused {
      background-color: var(--color-em);
    }
  }

  &:not(.ReadOnly, .Selected) {
    &.Focused {
      background-color: color-mix(in srgb, var(--color-light), black 10%);
    }
  }
}

.ReadOnly {
  opacity: .8;
}
